@charset "UTF-8";
html {
  background-color: #1e1610; }

#contents {
  margin: 0;
  padding: 0;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.object-fit-img {
  object-fit: contain;
  font-family: "object-fit: contain;"; }

.header {
  position: relative; }
  .header .logo {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    z-index: 40;
    left: 0;
    right: 0;
    top: 2%; }
    .header .logo img {
      max-width: 100%;
      box-sizing: border-box; }
  .header .pc_navi {
    max-width: 100%;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 80px 0 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0; }
    .header .pc_navi li {
      padding: 0 25px; }
      .header .pc_navi li:nth-child(4) {
        padding-left: 250px; }
      .header .pc_navi li a {
        text-decoration: none;
        display: block; }
  .header .sp_navi_wrapper {
    position: relative; }
    .header .sp_navi_wrapper .sp_navi {
      position: fixed;
      top: 1%;
      right: 4%;
      z-index: 40;
      width: 76px;
      max-width: 100%; }
      .header .sp_navi_wrapper .sp_navi .sp_navi_btn {
        max-width: 100%;
        box-sizing: border-box; }
    .header .sp_navi_wrapper .sp_navi_li {
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 30;
      padding-top: 30%;
      display: none; }
      .header .sp_navi_wrapper .sp_navi_li li {
        padding: 5px; }
        .header .sp_navi_wrapper .sp_navi_li li:first-child {
          padding-top: 0; }
        .header .sp_navi_wrapper .sp_navi_li li a img {
          width: 100%;
          box-sizing: border-box; }
        .header .sp_navi_wrapper .sp_navi_li li:last-child {
          max-width: 3%;
          margin: 0 auto;
          padding: 15px 0 20px; }
          .header .sp_navi_wrapper .sp_navi_li li:last-child img {
            width: 100%;
            box-sizing: border-box; }
  .header #full {
    margin-top: -50px; }
  .header .cover_read {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    bottom: 50%;
    z-index: 10; }
    .header .cover_read img {
      max-width: 60%;
      box-sizing: border-box; }
  .header .scroll {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 90%;
    bottom: 10%;
    z-index: 10; }
    .header .scroll img {
      max-width: 100%;
      box-sizing: border-box; }

main .container {
  max-width: 1200px;
  margin: -20px auto;
  position: relative; }
main .about {
  background-image: url("../images/top/about_bg-min.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  main .about .flame {
    padding-top: 30px; }
  main .about .about_text {
    text-align: center;
    padding: 65px 0 145px;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box; }
    main .about .about_text span {
      display: block; }
  main .about .flame_bottom {
    position: absolute;
    right: 0;
    bottom: 50px; }
main .section_title {
  text-align: center; }
  main .section_title h2 {
    margin: 0;
    color: #c08d0c; }
  main .section_title p {
    color: #fff;
    margin-top: 10px; }
main .section_text {
  color: #fff; }
main .menu .section_title {
  padding-top: 50px; }
main .menu .menu_box_wrapper {
  display: flex; }
  main .menu .menu_box_wrapper .menu_text_box {
    line-height: 2;
    width: 60%;
    background-color: #130d09;
    padding-left: 5%;
    padding-bottom: 10%;
    position: relative; }
    main .menu .menu_box_wrapper .menu_text_box .menu_text {
      padding-top: 10%; }
      main .menu .menu_box_wrapper .menu_text_box .menu_text span {
        background-color: #130d09; }
  main .menu .menu_box_wrapper .menu_image {
    width: 40%; }
    main .menu .menu_box_wrapper .menu_image img {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      object-fit: cover;
      object-position: 0 100%; }
main .uppercase {
  text-transform: uppercase; }
main .access {
  background-color: black; }
  main .access .section_title {
    padding-top: 40px; }
  main .access #googlemap_area {
    padding-top: 40px; }
main .reservation {
  background-image: url("../images/top/reservation_bg-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px; }
  main .reservation .section_title {
    padding-top: 50px; }
  main .reservation .reservation_box {
    box-sizing: border-box;
    margin: 50px auto 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }
    main .reservation .reservation_box h3 {
      margin: 0;
      padding: 45px 0;
      letter-spacing: 0.3rem; }
    main .reservation .reservation_box p {
      margin: 0;
      padding-bottom: 60px; }
    main .reservation .reservation_box a {
      display: block;
      text-decoration: none;
      width: 218px;
      margin: 0 auto;
      margin-bottom: 50px; }
      main .reservation .reservation_box a img {
        max-width: 100%;
        box-sizing: border-box; }
    main .reservation .reservation_box .information {
      display: flex;
      justify-content: space-between;
      padding: 0 55px 35px;
      text-align: left; }
      main .reservation .reservation_box .information ul {
        font-size: 0.9rem; }
      main .reservation .reservation_box .information .p_map {
        width: 50%;
        height: 50%;
        max-width: 100%; }

footer {
  text-align: center;
  color: #979797;
  background: url("../images/common/footer_bg-min.jpg") no-repeat;
  background-size: 100% 100%; }
  footer h4 {
    margin: 0;
    padding: 50px 0 30px; }
    footer h4 a {
      display: block; }
    footer h4 img {
      width: 30%;
      max-width: 100%;
      box-sizing: border-box; }
  footer .sns {
    display: inline-block; }
    footer .sns .gray {
      color: #6d6d6d;
      padding: 0 25px; }
  footer ul {
    padding: 25px; }
  footer h5 {
    margin: 0;
    padding-bottom: 15px; }
  footer .copyright {
    color: #87705f; }
    footer .copyright p {
      margin: 0;
      padding: 15px;
      background-color: #1e1610; }

@media screen and (max-width: 480px) {
  #contents .header .pc_navi {
    display: none; }
  #contents .header .logo {
    width: 25%;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%; }
  #contents .header .scroll {
    display: none; }
  #contents .section_title {
    font-size: 0.7rem; }
  #contents .about .flame, #contents .about .flame_bottom {
    display: none; }
  #contents .about .section_title {
    padding-top: 20px; }
  #contents .about .about_text {
    padding: 0 10px 60px;
    line-height: 2; }
  #contents .information {
    padding: 15px; }
    #contents .information ul {
      font-size: 0.7rem; } }
@media screen and (max-width: 759px) {
  #contents .header .pc_navi {
    display: none; }
  #contents .about .flame, #contents .about .flame_bottom {
    display: none; }
  #contents .menu .menu_text_box .section_title {
    text-align: left; }
  #contents .menu .menu_text_box p {
    width: 120%; }
  #contents .reservation_box p {
    font-size: 0.9rem; }
  #contents .reservation_box .information {
    padding: 20px; } }
@media screen and (min-width: 481px) and (max-width: 759px) {
  .information {
    padding: 20px; }

  footer h4 img {
    width: 20%; } }
@media screen and (min-width: 760px) and (max-width: 959px) {
  #contents .header .pc_navi {
    display: none; }
  #contents .about .flame, #contents .about .flame_bottom {
    display: none; }
  #contents .about .section_title {
    padding-top: 80px; }
  #contents .menu_text_box p {
    width: 110%; }
  #contents .information {
    padding: 40px; }

  footer h4 img {
    width: 15%; } }
@media screen and (min-width: 960px) {
  #contents .header .sp_navi_btn {
    display: none; }
  #contents .section_title h2 {
    font-size: 1.7rem; }
  #contents .about_text {
    font-size: 1.2rem; }
  #contents .menu .menu_box_wrapper .menu_text_box {
    padding: 30px 40px 30px 140px; }
    #contents .menu .menu_box_wrapper .menu_text_box p {
      font-size: 1.2rem; }

  .reservation .reservation_box {
    width: 60%; }
  .reservation .information {
    padding: 0 55px 35px; }

  footer h4 img {
    width: 10%; } }

/*# sourceMappingURL=common.css.map */
